    <div class="dice-roll">
        {{#if actorName}}
            <div class="dice-roll-character">
                {{#if actorImg}}<img src="{{actorImg}}" alt="{{actorName}}" class="dice-roll-avatar"/>{{/if}}
                <span class="dice-roll-character-name">{{actorName}}</span>
            </div>
        {{/if}}
        <div class="dice-result">
            <h3>{{profileLabel}} ({{profileValue}})</h3>
            <div class="dice-tooltip expanded">
                <div class="dice">
                    {{#each diceResults}}
                        <span class="die d10 {{#if this.isHighest}}highest-die{{/if}}">{{this.value}}</span>
                    {{/each}}
                </div>
            </div>
            {{#if aelsDiceResults}}
                <h3>Aels</h3>
                <div class="dice-tooltip expanded">
                    <div class="dice">
                        {{#each aelsDiceResults}}
                            <span class="die d6 {{#if this.isHighest}}highest-die{{/if}}">{{this.value}}</span>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            <h4 class="dice-total">{{total}}</h4>
            {{#if aelsBonus}}
                <div class="aels-bonus">Bonus Aels: +{{aelsBonus}}</div>
            {{/if}}
            {{#if aelsFatigue}}
                <div class="aels-bonus">
                    Fatigue magique: {{aelsFatigue}}
                    <button class="apply-fatigue" data-actor-id="{{actorId}}" data-fatigue="{{aelsFatigue}}">
                        Appliquer la fatigue
                    </button>
                </div>
            {{/if}}
            {{#if hasAubaine}}
                <div class="aubaine">Aubaine!</div>
            {{/if}}
        </div>
    </div>
